.card {
    margin-bottom: 20px;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    width: 100%;

    .info {
        width: 100%;
    }
}

.btn-delete {
    display: flex;
}